@charset "UTF-8";

html,body { height: 100%; background-color: #ccc; }
* { margin: 0; padding: 0; }
body { min-width: 320px;
margin: 0 auto;
padding: 0;
text-align: center;
font-family: 'SanFrancisco', sans-serif;
font-weight: 100;
font-style: normal;
font-size:100%;
-webkit-tap-highlight-color: rgba(0,0,0,0);
color: rgb(0,0,0); }
a { outline:0; border:none; }
img { outline:0; border:none; display:block; }
*:focus { outline:none; }
.clear { clear: both; }
main { width: 100%;
max-width: 400px;
margin: auto;
padding: 32px;
margin-bottom: 20px;
background-color: white;
border-radius: 25px;
height: auto;
text-align: left; }
.mainHome p {
    font-family: Tahoma;
    font-size: 14px;
    line-height: 25px;
}

.mainHome span {
    font-weight: bold;
}
.mainHome div {
    border: 1px solid teal;
    border-radius: 5px;
    padding: 10px;
    width: 50px;
}
.mainHome a {
    color: teal;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px !important;
}
h1 { margin-bottom: 32px; font-size: 3em; }
.tableViewCell { width: 100%; height: 45px; position: relative; }
.divisor {position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color: #666; }
.deleteButton { position: absolute; right: 0; top: 0; width: 44px; height: 44px; background: url(img/trash.png); cursor: pointer; }
#plusButton { position: absolute; right: 0; top: 0; width: 44px; height: 44px; background: url(img/plus.png); cursor: pointer; }
.deleteButton:hover { background: url(img/trash2.png); }
#plusButton:hover { background: url(img/plus2.png); }
.input {width: calc(100% - 44px - 16px);
border: none;
height: 44px;
background: none;
padding-left: 8px;
padding-right: 8px;
font-size: 24px;
color: #666;}
::placeholder { color: #E6E4E7; opacity: 1; } /* Firefox */
:-ms-input-placeholder { color: #E6E4E7; }    /* Internet Explorer 10-11 */
::-ms-input-placeholder { color: #E6E4E7; }   /* Microsoft Edge */

.borderTop {
    height: 30px;
}

#tableView,
#tableViewCell {

    display: none;
}

#tableViewLoading {
    position: relative;
    margin: 0 auto;
    padding: 30px;
}

.loader {
    margin: 0 auto;
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* The alert message box */
.alert {
display: none;
padding: 20px;
background-color: #da8f89; /* Red */
color: white;
margin-bottom: 15px;
margin-top: 30px;
border-radius: 5px;
}

/* The close button */
.closebtn {
margin-left: 15px;
color: white;
font-weight: bold;
float: right;
font-size: 22px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
color: black;
}
